
.list_con{
    width:600px;
    margin:50px auto 0;
}
.inputtxt{
    width:550px;
    height:30px;
    border:1px solid #ccc;
    padding:0px;
    text-indent:10px;
}
.inputbtn{
    width:40px;
    height:32px;
    padding:0px;
    border:1px solid #ccc;
}
.list{
    margin:0;
    padding:0;
    list-style:none;
    margin-top:20px;
}
.list li{
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
}

.list li span{
    float:left;
}

.list li a{
    float:right;
    text-decoration:none;
    margin:0 10px;
}

.welcome{
    height:160px;
    line-height:60px;
    color: #d81e06;
    margin-top: 35%;
    margin-left: auto;
    /*font-size: 30px;*/
}
.tasks{
    color: #d81e06;
    margin-left: 30%;
}