{% extends 'base.html' %}
{% block script %}
    <link rel="stylesheet" type="text/css" href="../static/css/todolist.css">
    <script type="application/javascript" src="../static/js/todolist.js"></script>
{% endblock script %}


{% block content %}
    <div class="list_con">
    {% if context.user %}
        <h2>To do list</h2>
            <input type="text" name="" id="txt1" class="inputtxt">
            <input type="button" name="" value="增加" id="btn1" class="inputbtn">

            <ul id="list" class="list">
                {% if context.tasks %}
                    {% for task in context.tasks %}
                        <li><label>&nbsp;{{ loop.index }}、</label><span class="span">{{ task }}</span><a href="javascript:;" class="up"> ↑ </a><a href="javascript:;" class="down"> ↓ </a><a href="javascript:void(0);" class="del">完成</a></li>
                    {% endfor %}
                    {% else %}
                    &nbsp;&nbsp;&nbsp;<h1 class="tasks" >要不添加一个任务，弄着玩玩~</h1>
                    {% endif %}

            </ul>
    {% else %}
        <h1 class="welcome"> 欢迎来到黄成芳的个人网站，你可以创建属于自己的to do list, 请登录或者注册。</h1>
    {% endif %}

	</div>
{% endblock content %}